@charset "UTF-8";

.applicatonDetailTh1a {
	width: 200px;
}

.applicatonDetailTd1a {
	width: 880px;
}

.applicationTableThColor {
	background-color:  #6cf577 !important;
}

.applicationTh1 {
	width:200px;
}

.applicationTh2 {
	width:880px;
}

.applicationTable tbody {
	display:block;
	/*overflow-y:scroll;
	/*heightがスクロールしなくても見える範囲の幅
	height: 475px;*/
}