@charset "UTF-8";

/*
td {
  padding: 10px 40px;
  border: 1px black solid;
  text-align: center;
}

td  {
  vertical-align: middle;
}*/

/*table, td, tr {
    border: 1px solid black;
}*/
td, tr {

    vertical-align: middle !important;
}
