@charset "UTF-8";

.LoginSideBarButton1 {
	margin: -13px 0px 0px 7px;
}

.LoginSideBarButton2 {
	margin: -8px 0px 0px 7px;
}

.LoginSideBarButton3 {
	margin: -8px 0px 0px 7px;
}

.LoginSideBarButton4 {
	margin: -8px 0px 0px 7px;
}

.LoginSideBarButton5 {
	margin: -8px 0px 0px 7px;
}

.LoginSideBarButton6 {
	margin: -8px 0px 0px 7px;
}

.LoginSideBarButton7 {
	margin: -8px 0px 0px 7px;
}

.jpeg {
	background-size:20px;
}