@charset "UTF-8";

label {
	font-size: 24px;
	color: #3f6763;
}

a {
	font-size: 17px;
	coler:
}

.btn-primary {
	color: #fff;
	border-color: #2e6da4;
}

.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}

.cp_iptxt input[type='text'] {
	font: 22px/9px sans-serif;
	box-sizing: border-box;
	width: 160%;
	padding: 0.0em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #114b4e;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}

.ef input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}

h1 {
	font-size: 115px;
	text-align: center;
	font-weight: 700;
	color: #733a7100;
	background: linear-gradient(70deg, #aaaaaa 25%, transparent 30%, transparent 70%,
		#0277BD 80%),
		linear-gradient(40deg, #aaaaaa 25%, transparent 30%, transparent 47%,
		#0277BD 75%);
	background-color: #7997a5;;
	background-size: 23px 23px;
	background-position: 0 0, 9px 14px;
	-webkit-background-clip: text;
	margin: 18px 0px 0px 0px;
}

button {
	display: inline-block;
	padding: 0.5em 5em;
	text-decoration: none;
	color: #713f3f;
	background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
	transition: .4s;
	background-image: linear-gradient(#dedede 0%, #a3dcf7 70%);
}

.loginChar {
	text-align: left;
}