@charset "UTF-8";

.persomMemoTh1 {
	width: 750px;
}

.persomMemoTh2 {
	width: 150px;
}

.persomMemoTh3 {
	width: 100px;
}

.persomMemoTh4 {
	width: 100px;
}

.persomMemoTd1 {
	width: 750px;
}

.persomMemoTd2 {
	width: 150px;
}

.persomMemoTd3 {
	width: 100px;
}

.persomMemoTd4 {
	width: 100px;
}

.personMemo tbody {
	display: block;
	overflow-y: scroll;
	/*heightがスクロールしなくても見える範囲の幅*/
	height: 298px;
}

.personMemoTableThColor {
	background-color: #fcff9f !important;
}

.personMemoAddtoTableThColor {
	background-color: #f1ee90 !important;
}

.btnSizePersonMemo {
	padding: 0px 24px !important;
	display: inherit !important;
}

.btnSizePersonMemo2 {
	padding: 0px 10px !important;
}