@charset "UTF-8";

.SideBarButton1 {
	margin: 0px 0px 0px 0px;
}

.SideBarButton2 {
	margin: -50px 0px 0px 0px;
}

.SideBarButton3 {
	margin: -50px 0px 0px 0px;
}

.SideBarButton4 {
	margin: -50px 0px 0px 0px;
}

.SideBarButton5 {
	margin: -50px 0px 0px 0px;
}

.SideBarButton6 {
	margin: -50px 0px 0px 0px;
}

.SideBarButton7 {
	margin: -50px 0px 0px 0px;
}

.SideBarButton8 {
	margin: -50px 0px 0px 0px;
}

.SideBarButton9 {
	margin: -50px 0px 0px 0px;
}

.SideBarButton10 {
	margin: -50px 0px 0px 0px;
}

.AdminSideBarButton1 {
	margin: 0px 0px 0px 0px;
}

.AdminSideBarButton2 {
	margin: -50px 0px 0px 0px;
}

.AdminSideBarButton3 {
	margin: -50px 0px 0px 0px;
}

.AdminSideBarButton4 {
	margin: -50px 0px 0px 0px;
}

.AdminSideBarButton5 {
	margin: -50px 0px 0px 0px;
}

.AdminSideBarButton6 {
	margin: -50px 0px 0px 0px;
}

.AdminSideBarButton7 {
	margin: -50px 0px 0px 0px;
}

.AdminSideBarButton8 {
	margin: -50px 0px 0px 0px;
}

.AdminSideBarButton9 {
	margin: -10px 0px 0px 0px;
}

.AdminSideBarButton10 {
	margin: -10px 0px 0px 0px;
}