<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- Bootstrap（デザイン性の高い画面を簡単に作成可能※タグのclass属性にある値をセットするだけ）の設定 jQuery Bootstrapの読み込み必要がある-->
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　↑cssファイル タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<!--　↑jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<!--　↑Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->

<title>adminGuide</title>
</head>
<body>

	<!-- コンテンツ部分 -->
	<div th:fragment="workspaceLayout_contents">
		<div class="page-header">
			<table>
				<tr>
					<td class="col-sm-2"><h1 class="text-center"
							style="background-color: rgb(213 203 113/ 83%);">管理者専用ガイド</h1></td>
				</tr>
				<tr>
					<td class="col-sm-10"></td>
				</tr>
			</table>
		</div>

		<div style="height: 120vh; width: 1100px;">
			<table
				class="table table-bordered table-hover table-striped adminGuideTable">
				<thead class="display">
					<tr>
						<th
							class="warning text-center col-sm-2 adminGuideThOne adminGuideTableThColor">タイトル</th>
						<th
							class="warning text-center adminGuideThTwo adminGuideTableThColor">管理者専用機能ガイド</th>

					</tr>
				</thead>

				<tr>
					<th class="adminGuideThTh">ユーザー管理</th>
					<td class="adminGuideThTd">管理者は全ユーザーの編集が可能です。</td>
				</tr>

				<tr>
					<th class="adminGuideThTh">tweet情報</th>
					<td class="adminGuideThTd">管理者は全ユーザーのtweetの編集が可能です。</td>
				</tr>

				<tr>
					<th class="adminGuideThTh">管理者から全ユーザーへのお知らせ情報</th>
					<td class="adminGuideThTd">管理者のみがお知らせを編集可能です。</td>
				</tr>

				<tr>
					<th class="adminGuideThTh">管理者専用画面</th>
					<td class="adminGuideThTd">管理者専用の画面では、お問い合わせ情報管理や管理者からユーザーへの連絡、お知らせが可能です。</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>