<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>管理者からのお知らせ</title>

</head>
<body>

	<div th:fragment="workspaceLayout_contents">
		<!-- jQuery フォームリセット -->
		<script>
			$(function() {
				// 入力値をリセット
				$("#resetButton").click(function() {
					$('#textField1,#dateField1,#dateField2').val("");
				});
			});
		</script>
		<div class="page-header">
			<table>
				<tr>
					<td class="col-sm-6"><h1 class="text-center"
							style="background-color: #b0e0e659;">管理者から全ユーザーへ</h1></td>
					<!-- 管理者お知らせの件数-->
					<td class="col-sm-12"><h3
							th:text="'合計:' + ${adminListHomeCount} + '件'"></h3></td>
					<!-- CSV出力用のリンク -->
					<td class="col-sm-2 btnPadding"><a class="cp_btn4"
						th:href="@{'/adminNotice/csv'}">CSV出力</a></td>
				</tr>
			</table>
		</div>


		<form method="post" th:action="@{/adminNoticeSearch}"
			th:object="${adminNoticeSearchForm}">
			<table
				class="table table-borderd table-hover bg-success table-striped font-weight-bold adminTa
			ble"
				style="background-color: #e0ffff; width: 1120px;">
				<tr class="workspaceTrThSearch">
					<th class="info text-center adminNoticeThWidthA">お知らせ内容</th>
					<th class="info text-center adminNoticeThWidthB">投稿日～</th>
					<th class="info text-center adminNoticeThWidthC">～投稿日</th>
					<th class="info col-sm-2 text-center adminNoticeThWidthD">検索ボタン</th>
					<th class="info col-sm-2 text-center adminNoticeThWidthE">フォームリセット</th>
				</tr>
				<tr class="text-center">
					<td align=center><input id="textField1" type="text"
						class="form-control text-center adminNoticeTdWidthA"
						name="contents" th:field="*{contents}" placeholder="190文字以下で検索可"><span
						class="text-danger" th:if="${#fields.hasErrors('contents')}"
						th:errors="*{contents}"></span></td>
					<td align=center><input id="dateField1" type="date"
						class="form-control adminNoticeTdWidthB" name="registration_dateA"
						th:field="*{registration_dateA}"></td>
					<td align=center><input id="dateField2" type="date"
						class="form-control adminNoticeTdWidthC" name="registration_dateZ"
						th:field="*{registration_dateZ}"></td>
					<td align=center><button
							class="btn btn-info adminNoticeTdWidthD btnPadding2"
							type="submit" name="search">キーワードで検索</button></td>
					<td style="text-align: center;"><button
							class="btn btn-success adminNoticeTdWidthE reset btnPadding2"
							id="resetButton" type="button">フォーム内初期化</button></td>
				</tr>

			</table>
		</form>
		<div style="height: 100vh; width: 1120px;">
			<div sec:authorize="!hasRole('ADMIN')">
				<table
					class="table table-condensed table-bordered table-hover table-striped sticky_table adminNotice fontSize">
					<thead>
						<tr>
							<th
								class="text-center info col-sm-10 sticky-top adminNoticeThWidthAANoAdmin adminNoticeTabelThColor">お知らせ内容</th>
							<th
								class="text-center info col-sm-5 sticky-top adminNoticeThWidthBBNoAdmin adminNoticeTabelThColor">投稿日</th>
					</thead>

					<tr class="text-center" th:each="admindto:${adminList}">
						<td class="text-center adminNoticeTdWidthAANoAdmin"
							th:text="${admindto.contents}"></td>
						<td class="text-center adminNoticeTdWidthBBNoAdmin"
							th:text="${#dates.format(admindto.registration_date, 'yyyy/MM/dd HH:mm')}"></td>



					</tr>

				</table>
			</div>

			<div sec:authorize="hasRole('ADMIN')">
				<table
					class="table table-condensed table-bordered table-hover table-striped sticky_table adminNotice fontSize"
					style="width: 1120px;">
					<thead>
						<tr>
							<th
								class="text-center warning col-sm-10 sticky-top adminNoticeThWidthAA adminNoticeTabelThColor">お知らせ内容</th>
							<th
								class="text-center warning col-sm-5 sticky-top adminNoticeThWidthBB adminNoticeTabelThColor">投稿日</th>
							<th
								class="text-center warning col-sm-1 sticky-top adminNoticeThWidthCC adminNoticeTabelThColor">管理</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center" th:each="admindto:${adminList}">
							<td class="text-center adminNoticeTdWidthAA"
								th:text="${admindto.contents}"></td>
							<td class="text-center adminNoticeTdWidthBB"
								th:text="${#dates.format(admindto.registration_date, 'yyyy/MM/dd HH:mm')}"></td>
							<td class="btnSizeAdminNotice2">
								<!-- 動的URL --> <!-- 編集は管理者のみ --> <a
								class="btn btn-primary text-centerv adminNoticeTdWidthCC btnSizeAdminNotice"
								th:href="@{'adminNoticeDetail/' + ${admindto.id}}">編集</a>
							</td>


						</tr>
					</tbody>
				</table>
			</div>


		</div>
	</div>
</body>
</html>