<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">


<title>adminPersonNotice</title>
</head>
<body>
	<!-- コンテンツ部分 -->
	<div th:fragment="workspaceLayout_contents">
		<!-- jQuery フォームリセット -->
		<script>
			$(function() {
				// 入力値をリセット
				$("#resetButton").click(function() {
					$('#textField1,#dateField1,#dateField2').val("");
				});
			});
		</script>
		<div class="page-header">

			<table>
				<tr>
					<td class="col-sm-5">
						<h1 class="text-center" style="background-color: #b0e0e659;">管理者からあなたへ</h1>
					</td>
					<td class="col-sm-12"><h3
							th:text="'合計' + ${adminPersonNoticeHomeCount} + '件'"></h3></td>
					<td class="col-sm-2 btnPadding"><a class="cp_btn4"
						th:href="@{'/personUsersNotice/csv'}">CSV出力</a></td>
				</tr>
			</table>
		</div>

		<form method="post" th:action="@{/adminPersonNotice}"
			th:object="${adminPersonNoticeSearchForm}">
			<table class="table table-borderd table-hover bg-success"
				style="background-color: #e0ffff; width: 1120px">
				<tr class="workspaceTrThSearch">
					<th class="info text-center font-weight-bold">おしらせ内容</th>
					<th class="info text-center font-weight-bold">受信日～</th>
					<th class="info text-center font-weight-bold">～受信日</th>
					<th class="info text-center font-weight-bold">検索ボタン</th>
					<th class="info text-center font-weight-bold">フォームリセット</th>
				</tr>

				<tr>
					<td><input id="textField1" type="text"
						class="text-center form-control" name="content"
						th:field="*{content}" placeholder="150文字以下で検索可"><span
						class="text-danger" th:if="${#fields.hasErrors('content')}"
						th:errors="*{content}"></span></td>
					<td><input id="dateField1" type="date"
						class="text-center form-control" name="registration_dateA"
						th:field="*{registration_dateA}"></td>
					<td><input id="dateField2" type="date"
						class="text-center form-control" name="registration_dateZ"
						th:field="*{registration_dateZ}"></td>
					<td class="text-center"><button
							class="btn btn-primary btnPadding2" type="submit" name="search">キーワードで検索</button></td>
					<td style="text-align: center;"><button
							class="btn btn-success reset btnPadding2" id="resetButton"
							type="button">フォーム内初期化</button></td>
				</tr>


			</table>


		</form>


		<table
			class="table table-condensed table-bordered table-hover table-striped sticky_table adminPersonNotice fontSizeAdminPersonNotice"
			style="width: 1120px">
			<thead>
				<tr>
					<th
						class="text-center warning col-sm-10 sticky-top adminPersonNoticeTh1 adminPersonNoticeTableThColor">おしらせ内容</th>
					<th
						class="text-center warning col-sm-5 sticky-top adminPersonNoticeTh2 adminPersonNoticeTableThColor">受信日時</th>
					<th
						class="text-center warning col-sm-1 sticky-top adminPersonNoticeTh3 adminPersonNoticeTableThColor">管理</th>

				</tr>
			</thead>

			<tr class="text-center"
				th:each="personusersnoticedto:${personUsersNoticeList}">
				<td class="text-center adminPersonNoticeTd1"
					th:text="${personusersnoticedto.content}"></td>
				<td class="text-center adminPersonNoticeTd2"
					th:text="${#dates.format(personusersnoticedto.registration_date, 'yyyy/MM/dd HH:mm')}"></td>
				<td
					class="text-center adminPersonNoticeTd3 btnSizeAdminPersonNotice2"><a
					class="btn btn-primary text-center btnSizeAdminPersonNotice"
					th:href="@{'adminPersonNoticeDetail/' + ${personusersnoticedto.id}}">編集</a></td>
			</tr>
		</table>


	</div>
</body>
</html>