<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- Bootstrap（デザイン性の高い画面を簡単に作成可能※タグのclass属性にある値をセットするだけ）の設定 jQuery Bootstrapの読み込み必要がある-->
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　↑cssファイル タイムリーフでファイル読み込み　 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--　↑jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<!--　↑Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->

<title>client</title>
</head>
<body>

	<div th:fragment="workspaceLayout_contents">
		<!-- jQuery フォームリセット -->
		<script>
			$(function() {
				// 入力値をリセット
				$("#resetButton")
						.click(
								function() {
									$(
											'#textField1,#textField2,#textField3,#textField4,#textField5,#dateField1,#dateField2')
											.val("");
								});
			});
		</script>
		<div class="page-header">
			<table>
				<tr>
					<td class="col-sm-4"><h1 class="text-center" style="background-color: #b0e0e659;">取引先情報</h1></td>
					<!-- admin一覧の件数 -->
					<td class="col-sm-8"><h3
							th:text="'合計' + ${clientListCount} + '件'"></h3></td>
					<!-- 完了　削除の結果表示
					<td><label class="text-info" th:text="${result}">結果表示</label></td>-->
					<td class="col-sm-2 btnPadding"><a class="cp_btn11 pull-right"
						type="submit" style="width: 160px"
						th:href="@{'/clientAddto'}">取引先情報登録</a></td>
					<!-- CSV出力用のリンク -->
					<td class="col-sm-2 btnPadding"><a class="cp_btn4"
						th:href="@{'/client/csv'}">CSV出力</a></td>
				</tr>
			</table>
		</div>

		<form method="post" th:action="@{/client}"
			th:object="${clientSearchForm}">
			<table class="table table-borderd table-hover bg-success usersTable"
				style="background-color: #e0ffff; width: 1120px;">
				<tr class="workspaceTrThSearch">
					<th class="info text-center">会社名</th>
					<th class="info text-center">住所</th>
					<th class="info text-center">担当者</th>
					<th class="info text-center">登録日～</th>
					<th class="info text-center">～登録日</th>
				</tr>

				<tr>
					<td align=center><input id="textField1" type="text"
						class="form-control text-center" name="company"
						th:field="*{company}" placeholder="25文字以下で検索可"><span class="text-danger" th:if="${#fields.hasErrors('company')}" th:errors="*{company}">company error</span></td>
					<td align=center><input id="textField2" type="text"
						class="form-control text-center" name="address"
						th:field="*{address}" placeholder="35文字以下で検索可"><span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address error</span></td>
					<td align=center><input id="textField3" type="text"
						class="form-control text-center" name="user_name"
						th:field="*{user_name}" placeholder="20文字以下で検索可"><span class="text-danger" th:if="${#fields.hasErrors('user_name')}" th:errors="*{user_name}">user_name error</span></td>
					<td align=center><input id="dateField1" type="date"
						class="form-control text-center" name="registration_dateFrom"
						th:field="*{registration_dateFrom}"></td>
					<td align=center><input id="dateField2" type="date"
						class="form-control text-center" name="registration_dateTo"
						th:field="*{registration_dateTo}"></td>
				</tr>

				<tr class="workspaceTrThSearch">
					<th class="info text-center">担当者電話番号</th>
					<th class="info text-center">担当者メールアドレス</th>
					<th class="info text-center">検索ボタン</th>
					<th class="info text-center">フォームリセット</th>
				</tr>

				<tr>
					<td align=center><input id="textField4" type="text"
						class="form-control text-center" name="telephone"
						th:field="*{telephone}" placeholder="15文字以下で検索可"><span class="text-danger" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">telephone error</span></td>
					<td align=center><input id="textField5" type="text"
						class="form-control text-center" name="mailaddress"
						th:field="*{mailaddress}" placeholder="35文字以下で検索可"><span class="text-danger" th:if="${#fields.hasErrors('mailaddress')}" th:errors="*{mailaddress}">mailaddress error</span></td>
					<td align=center><button class="btn btn-primary btnPadding2"
							type="submit" name="search">キーワードで検索</button></td>
					<td style="text-align: center"><button
							class="btn btn-success reset btnPadding2" type="button"
							id="resetButton">フォームクリア</button></td>
				</tr>
			</table>
		</form>

		<br>
		<div style="width:1120px;">
		<table class="table table-condensed table-bordered table-hover table-striped sticky_table Client theadClient tb-fix fontSizeClient"
				style="max-height: 350px;">
				<thead>
				<tr>
				<th class="warning col-sm-2 text-center sticky-top clientTableThColor clientTableThWidth1">会社名</th>
				<th class="warning col-sm-2 text-center sticky-top clientTableThColor clientTableThWidth2">住所</th>
				<th class="warning col-sm-2 text-center sticky-top clientTableThColor clientTableThWidth3">担当者</th>
				<th class="warning col-sm-2 text-center sticky-top clientTableThColor clientTableThWidth4">担当者電話番号</th>
				<th class="warning col-sm-2 text-center sticky-top clientTableThColor clientTableThWidth5">担当者メールアドレス</th>
				<th class="warning col-sm-2 text-center sticky-top clientTableThColor clientTableThWidth6">登録日</th>
				<th class="warning col-sm-2 text-center sticky-top clientTableThColor clientTableThWidth7">管理</th>
				</tr>
				</thead>

				<tr class="text-center " th:each="clientdto:${clientList}">
				<th class="text-center clientTableTdWidth1" style="font-weight:normal !important;" th:text=${clientdto.company}></th>
				<th class="text-center clientTableTdWidth2" style="font-weight:normal !important;" th:text="${clientdto.address}"></th>
				<th class="text-center clientTableTdWidth3" style="font-weight:normal !important;" th:text="${clientdto.user_name}"></th>
				<th class="text-center clientTableTdWidth4" style="font-weight:normal !important;" th:text="${clientdto.telephone}"></th>
				<th class="text-center clientTableTdWidth5" style="font-weight:normal !important;" th:text="${clientdto.mailaddress}"></th>
				<th class="text-center clientTableTdWidth6" style="font-weight:normal !important;" th:text="${#dates.format(clientdto.registration_date,'yyyy/MM/dd')}"></th>
				<th class="text-center clientTableTdWidth7 btnSizeClient2"><a class="btn btn-primary btn-sm text-center btnSizeClient" th:href="@{'/clientDetail/' + ${clientdto.id}}">編集</a></th>
				</tr>

		</table>
		</div>
	</div>
</body>
</html>