<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">



<title>お問い合わせ</title>
</head>
<body>

	<!-- コンテンツ部分 -->
	<div th:fragment="loginLayout_contents">
		<div class="page-header col-sm-7">
			<table>
				<tr>
					<br>
					<td class="col-sm-11"
						style="font-size: 30px; background-color: #cfdae8; font-family: serif; padding: 10px 0px 5px 11px;">お問い合わせ</td>
				</tr>
			</table>
		</div>

		<br>
		<br>
		<form method="post" th:action="@{/inquiryLogin}"
			th:object="${inquiryForm}">
			<table class="table table-borderd table-hover">
				<!-- title -->
				<br>
				<br>
				<br>
				<tr>

					<th class="active col-sm-3 text-center"
						style="background-color: #b5c7ce !important; padding: 15px 0px;">タイトル</th>
					<td style="background-color: aliceblue;">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('title')}?'has-error'">
							<input type="text" class="form-control" th:field="*{title}"
								placeholder="80文字以下で入力してください" />
							<!-- 個別エラー -->
							<span class="text-danger" th:if="${#fields.hasErrors('title')}"
								th:errors="*{title}">title error</span>
						</div>
					</td>
				</tr>

				<!-- content -->
				<tr>
					<th class="active col-sm-3 text-center"
						style="background-color: #b5c7ce !important; padding: 15px 0px;">内容</th>
					<td style="background-color: aliceblue;">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('content')}?'has-error'">
							<input type="text" class="form-control" th:field="*{content}"
								placeholder="100文字以下で入力してください" />
							<!-- 個別エラー -->
							<span class="text-danger" th:if="${#fields.hasErrors('content')}"
								th:errors="*{content}">naiyou error</span>
						</div>
					</td>
				</tr>

				<tr>
					<th class="active col-sm-3 text-center"
						style="background-color: #b5c7ce !important; padding: 15px 0px;">メールアドレス</th>
					<td style="background-color: aliceblue;">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('mail')}?'has-error'">
							<input type="text" class="form-control" th:field="*{mail}"
								placeholder="返信が欲しい方のみメールアドレスを入力してください 35文字以下で入力してください" />
							<!-- 個別エラー -->
							<span class="text-danger" th:if="${#fields.hasErrors('mail')}"
								th:errors="*{mail}">mail error</span>
						</div>
					</td>
				</tr>

			</table>
			<button class="btn btn-primary btn-lg center-block inquiryButton"
				type="submit">お問い合わせ内容送信</button>
			<!-- お問い合わせ完了メッセージ -->
			<label class="text-info" th:text="${result}"
				style="font-size: 21px; padding: 0px 0px 0px 43px;">問い合わせ結果表示</label>
		</form>


		<script>
			$('.inquiryButton').click(function() {
				if (confirm('本当に送信しますか？')) {
					/* キャンセルの時の処理 */
					return true;
				}
				return false;
			});
		</script>

	</div>
</body>
</html>