<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">



<title>お問い合わせ</title>
</head>
<body>
	<!-- th:fragment -->
	<div th:fragment="workspaceLayout_contents">
		<div class="col-sm-12">
			<div class="page-header col-sm-3">
				<h1 class="text-center" style="background-color: #ccdbf3ab;">お問い合わせ</h1>
			</div>
			<form method="post" th:action="@{inquiry}" th:object="${inquiryForm}">

				<table class="table table-bordered table-hover">



					<tr>

						<th class="active col-sm-2 text-center inquiryTableThColor"
							style="padding: 19px 0px;">問い合わせの返信</th>
						<td><input type="checkbox" name="user_idT" value="true">
							<input type="hidden" class="form-control" th:field="*{user_id}">返信を希望する
							<br> <span class="text-danger">※チェックを入れると管理者に問い合わせた人の情報が渡ります。</span></td>
					<tr>
					<tr>
						<th class="active col-sm-2 text-center inquiryTableThColor"
							style="padding: 19px 0px;">タイトル</th>
						<td>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('title')}?' has-error'">
								<input type="text" class="form-control" th:field="*{title}"
									placeholder="80文字以下で入力してください。">
								<!-- 個別エラー -->
								<span class="text-danger" th:if="${#fields.hasErrors('title')}"
									th:errors="*{title}">title error</span>
							</div>
						</td>
					</tr>


					<tr>
						<th class="active col-sm-2 text-center inquiryTableThColor"
							style="padding: 19px 0px;">内容</th>
						<td>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('content')}?'has-error'">
								<input type="text" class="form-control" th:field="*{content}"
									placeholder="110文字以下で入力してください。" />
								<!-- 個別エラー -->
								<span class="text-danger"
									th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content
									error</span>
							</div>
						</td>
					</tr>

				</table>
				<button class="btn btn-primary btn-lg center-block inquiryButton"
					type="submit">お問い合わせ内容送信</button>
				<!-- お問い合わせ完了メッセージ -->
				<label class="text-info" th:text="${result}"
					style="font-size: 21px; padding: 0px 0px 0px 43px;">問い合わせ結果表示</label>
			</form>
		</div>

		<script>
			$('.inquiryButton').click(function() {
				if (confirm('本当に送信しますか？')) {
					/* キャンセルの時の処理 */
					return true;
				}
				return false;
			});
		</script>

	</div>
</body>
</html>