<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>


<title>Login</title>
</head>
<body background="/css/white_00040.jpg"
	class="text-center col-sm-12 bg-info">

<!-- th:fragment -->
	<div th:fragment="loginLayout_contents">
	<!-- ヘッダー -->
	<nav class="navbar navbar-light navbar-fixed-top">
		<div class="container-fluid" style="background-color:black;">
			<div class="navbar-light">
				<a style="color:#0089ff !important;" class="navbar-brand"><i class="fa fa-android fa-spin"></i>
					WorkEfficiencyApp-YMJOJO</a>
			</div>
			<h5 style="font-size:20px;color:#fff;padding: 4px 0px;">このアプリを使用してワークの効率をUPさせよう！</h5>
		</div>
	</nav>

	<br>
	<br>

	<div class="text-center  text-white">
		<h1>Login</h1>
		<br>
		<form method="post" action="/login">
			<!-- ログインエラーメッセージの表示 -->
			<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} !=null"
				th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
				class="text-danger">ログインエラーメッセージ</p>


			<div class="cp_iptxt">
				<label class="ef"> <input type="text" name="user_id"
					placeholder="UserId">
				</label>
			</div>
			<!-- パスワード -->
			<div class="cp_iptxt">
				<label class="ef"> <input type="text" name="password"
					placeholder="Password">
				</label>
			</div>
			<!-- CSRF対策用トークン  hiddenでCSRF対策用のトークンをサーバーに送る CSRF多作をしている場合下記のコードを書かないとSpringが応答しなくなる-->
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<!-- ログインボタン -->
			<button class="btn-gradient-flat" type="submit">ログイン</button>
		</form>
		<br/>
</div>
</body>
</html>