<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- Bootstrap（デザイン性の高い画面を簡単に作成可能※タグのclass属性にある値をセットするだけ）の設定 jQuery Bootstrapの読み込み必要がある-->
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　↑cssファイル タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<!--　↑jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<!--　↑Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->

<title>one_to_oneMailDetail</title>
</head>
<body>

	<!-- コンテンツ部分 -->
	<div th:fragment="workspaceLayout_contents">
		<div class="page-header">

			<table>
				<tr>
					<td class="col-sm-1">
						<h1 class="text-center" style="background-color: #ffeafc;">Mail編集画面</h1>
					</td>
				</tr>
				<tr>
					<td class="col-sm-11"></td>
				</tr>
			</table>
		</div>
		<form method="post" th:action="@{/one_to_oneMailDetail}"
			th:object="${one_to_oneMailDetailForm}">
			<table
				class="table table-bordered table-hover table-striped sticky_table">
				<tr>
					<th class="danger col-sm-2 text-center sticky-top" align="center">送信者</th>

					<td  th:text="${one_to_onemailUser_name}"></td>
				</tr>
				<tr>
					<th class="danger col-sm-2 text-center sticky-top" align="center">メール内容</th>
					<td  th:text="${one_to_onemailMail}"></td>
				</tr>
				<tr>
					<th class="danger col-sm-2 text-center sticky-top" align="center">受信日</th>
					<td  th:text="${#dates.format(one_to_onemailRegistration_date, 'yyyy/MM/dd HH:mm:hh')}" ></td>
				</tr>
			</table>
			<input type="hidden" value="${id}" th:field="*{id}">
			<button class="btn btn-primary btn-lg center-block deleteButton" type="submit" name="delete" style="font-size:22px;">Mail削除</button>
		</form>

	<script>
			$('.deleteButton').click(function() {
				if (confirm('本当に削除しますか？')) {
					/* キャンセルの時の処理 */
					return true;
				}
				return false;
			});
		</script>
	</div>
</body>
</html>