<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<title>one_to_oneMailSendingDetail</title>
</head>
<body>

	<div th:fragment="workspaceLayout_contents">
		<div class="page-header">
			<table>
				<tr>
					<td class="col-sm-7"><h1 class="text-center"
							style="background-color: #ffeafc;">送信メール編集画面</h1></td>
				</tr>
				<tr>
					<td class="col-sm-11"></td>
				</tr>
			</table>
		</div>

		<form method="post" th:action="@{/one_to_oneMailSendingDetail}"
			th:object="${one_to_oneMailSendingDetailForm}">
			<table
				class="table table-bordered table-hover table-striped sticky_table ">
				<tr th:each="one_to_onemaildto:one_to_oneMailList">
					<th class="danger text-center col-sm-1">送信先</th>
					<td th:text="${getUser_name}"></td>
				</tr>
				<tr th:each="one_to_onemaildto:one_to_oneMailList">
					<th class="danger text-center">メール内容</th>
					<td th:text="${getMail}"></td>
				</tr>
				<tr th:each="one_to_onemaildto:one_to_oneMailList">
					<th class="danger text-center">送信日</th>
					<td
						th:text="${#dates.format(getRegistration_date, 'yyyy/MM/dd HH:mm:ss')}"></td>
				</tr>

			</table>
			<input type="hidden" value="${id}" th:field="*{id}">
			<button class="btn btn-primary btn-lg center-block text-center"
				name="delete" style="font-size: 19px;">送信メール削除</button>

		</form>

	</div>
</body>
</html>