<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<title>personMemoDetail</title>
</head>
<body>
	<div th:fragment="workspaceLayout_contents">
		<div class="page-header">

			<table>
				<tr>
					<td class="col-sm-3"><h1 class="text-center"
							style="background-color: #ffeafc;">メモ編集</h1></td>
				</tr>
				<tr>
					<td class="col-sm-9"></td>
				</tr>
			</table>
		</div>

		<form method="post" th:action="@{/personMemoDetail}"
			th:object="${personMemoForm}">
			<table class="table table-hovor table-bordered table-striped">

				<tr>
					<th class="danger text-center col-sm-2" style="padding: 14px">メモ</th>
					<td><div class="form-group">
							<input type="text" class="form-control" th:field="*{memo}"
								placeholder="300文字以下で入力してください。"><span
								class="text-danger" th:if="${#fields.hasErrors('memo')}"
								th:errors="*{memo}"></span>
						</div></td>
				</tr>
				<tr>
					<th class="danger text-center col-sm-2 ">作成日</th>
					<td
						th:text="${#dates.format(personmemolistRegistration_date, 'yyyy/MM/dd HH:mm')}"></td>
				</tr>

			</table>


			<input type="hidden" value="${personMemodto.id}" th:field="*{id}">
			<button class="btn btn-primary btn-lg pull-right" type="submit"
				name="update" style="font-size: 22px;">メモ更新</button>
			<button class="btn btn-danger btn-lg pull-left deleteButton"
				type="submit" name="delete" style="font-size: 22px;">メモ削除</button>
			<div th:if="${personMemoForm.finished_date != null}">
				<button class="btn btn-success btn-lg center-block" type="submit"
					name="completed" style="font-size: 22px;">メモを未完了に戻す</button>
			</div>

			<div th:if="${personMemoForm.finished_date == null}">
				<button class="btn btn-success btn-lg center-block" type="submit"
					name="completed" style="font-size: 22px;">メモ完了</button>
			</div>


		</form>


		<script>
			$('.deleteButton').click(function() {
				if (confirm('本当に削除しますか？')) {
					/* キャンセルの時の処理 */
					return true;
				}
				return false;
			});
		</script>
	</div>
</body>
</html>