<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<title>personUsersNotice</title>
</head>
<body>
	<div th:fragment="workspaceLayout_contents">

		<script>
			$(function() {
				// 入力値をリセット
				$("#resetButton").click(function() {
					$('#textField1,#textField2').val("");
				});
			});
		</script>
		<div class="page-header">
			<table>
				<tr>
					<td class="col-sm-4"><h1 class="text-center"
							style="background-color: #b0e0e659;">個人ユーザーへ連絡</h1></td>
					<td><h3 th:text="'合計' + ${usersHomeCount} + '件'"></h3></td>

					<td class="col-sm-2 btnPadding"><a class="cp_btn9 pull-right"
						type="submit" style="width: 175px"
						th:href="@{'/personUsersNoticeSending'}">送信メール一覧</a></td>
				</tr>
			</table>
		</div>

		<form method="post" th:action="@{/personUsersNotice}"
			th:object="${personUsersNoticeSearchForm}">
			<table class="table table-borderd table-hover bg-success usersTable"
				style="background-color: #e0ffff; width: 1120px">
				<tr class="workspaceTrThSearch">
					<th class="info text-center">メールアドレス</th>
					<th class="info text-center">ユーザー名</th>
					<th class="info text-center">検索ボタン</th>
					<th class="info text-center">フォームクリア</th>
				</tr>

				<tr>
					<td><input id="textField1" type="text"
						class="form-control text-center" name="user_id"
						th:field="*{user_id}" placeholder="35文字以下で検索可"><span
						class="text-danger" th:if="${#fields.hasErrors('user_id')}"
						th:errors="*{user_id}">user_id error</span></td>
					<td><input id="textField2" type="text"
						class="form-control text-center" name="user_name"
						th:field="*{user_name}" placeholder="20文字以下で検索可"><span
						class="text-danger" th:if="${#fields.hasErrors('user_name')}"
						th:errors="*{user_name}">user_name error</span></td>
					<td align=center><button class="btn btn-primary btnPadding2"
							type="submit" name="search">キーワードで検索</button></td>
					<td style="text-align: center;"><button
							class="btn btn-success usersSearchTd9 reset btnPadding2"
							id="resetButton" type="button">フォーム内初期化</button></td>

				</tr>
			</table>
		</form>
		<br>
		<table
			class="table table-condensed table-bordered table-hover table-striped sticky_table personUsersNotice fontSize"
			style="width: 1120px;">
			<thead>
				<tr>
					<th
						class="warning col-sm-2 text-center sticky-top personUsersNoticeTh1 personUsersNoticeTableThColor"
						align="center">ユーザーID</th>
					<th
						class="warning col-sm-2 text-center sticky-top personUsersNoticeTh2 personUsersNoticeTableThColor">ユーザー名</th>
					<th
						class="warning col-sm-2 text-center sticky-tip personUsersNoticeTh3 personUsersNoticeTableThColor">管理</th>
				</tr>
			</thead>

			<tr class="text-center" th:each="usersdto:${usersList}">
				<td class="text-center personUsersNoticeTd1"
					th:text="${usersdto.user_id}"></td>
				<td class="text-center personUsersNoticeTd2"
					th:text="${usersdto.user_name}"></td>
				<td
					class="text-center personUsersNoticeTd3 btnSizePersonUsersNotice2"><a
					class="btn btn-primary btn-sm text-center btnSizePersonUsersNotice"
					th:href="@{'/personUsersNoticeDetail/' + ${usersdto.user_id}}">連絡する</a></td>
			</tr>
		</table>
	</div>
</body>
</html>