<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<title>personMemoAddto</title>
</head>
<body>
	<div th:fragment="workspaceLayout_contents">
		<div class="col-sm-12">
			<div class="page-header col-sm-2">
				<h1 class="text-center" style="background-color: #fcff6473;">メモ登録</h1>
			</div>
			<form method="post" th:action="@{/personMemoAddto}"
				th:object="${personMemoForm}">
				<table class="table table-bordered table-hover ">
					<tr>
						<th
							class="active text-center col-sm-1 personMemoAddtoTableThColor"
							style="padding: 14px">メモ</th>
						<td class="col-sm-11" style="background-color: #f1efb1"><div
								class="form-group"
								th:classappend="${#fields.hasErrors('memo')}? 'has-error'">
								<input type="text" class="form-control" th:field="*{memo}"
									placeholder="300文字以下で入力してしてください。"> <span
									class="text-danger" th:if="${#fields.hasErrors('memo')}"
									th:errors="*{memo}"></span>
							</div></td>

					</tr>
				</table>

				<!-- メモ登録ボタン -->
				<button class="btn btn-primary btn-lg center-block"
					style="width: 150px; padding: 13px; font-size: 20px;" type="submit">メモ登録</button>

			</form>
		</div>
	</div>
</body>
</html>