<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<!-- Bootstrap（デザイン性の高い画面を簡単に作成可能※タグのclass属性にある値をセットするだけ）の設定 jQuery Bootstrapの読み込み必要がある-->
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　↑cssファイル タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<!--　↑jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<!--　↑Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->
<title>利用規約</title>
</head>
<body>

	<!-- th:fragment -->
	<div th:fragment="loginLayout_contents">
	<!-- コンテンツ部分 -->
		<div class="page-header col-sm-2" style="background-color:#ffe5bc59 !important;">
			<table>
				<tr >
					<td class="col-sm-11"><h1 style=" font-size: 30px !important; color:black !important; font-family:serif !important; margin-top: 24px;">利用規約</h1></td>
				</tr>
			</table>
		</div>
		<br>
		<br>
		<br>
		<br>

			<table class="table table-borderd table-hover table-striped termsOfServiceLogin"
			style="width:1120px;">
			<thead>
			<h4>この利用規約（以下，「本規約」といいます。）は，丸山佑馬（以下，「作成者」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</h4>
			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第1条（適用）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">本規約は，ユーザーと作成者との間の本サービスの利用に関わる一切の関係に適用されるものとします。
					作成者は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
					本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。</td>
			</tr>

			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第2条（利用登録）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">本サービスにおいては，登録希望者が本規約に同意の上,完了するものとします。</td>
			</tr>

			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第3条（ユーザーIDおよびパスワードの管理）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを適切に管理するものとします。
					ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。当社は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。
					ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は，作成者に故意又は重大な過失がある場合を除き，作成者は一切の責任を負わないものとします。</td>
			</tr>

			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第4条（禁止事項）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。 法令または公序良俗に違反する行為
					犯罪行為に関連する行為 本サービスの内容等，本サービスに含まれる著作権，商標権ほか知的財産権を侵害する行為
					作成者，ほかのユーザー，またはその他第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為
					本サービスによって得られた情報を商業的に利用する行為 当社のサービスの運営を妨害するおそれのある行為
					不正アクセスをし，またはこれを試みる行為 他のユーザーに関する個人情報等を収集または蓄積する行為
					不正な目的を持って本サービスを利用する行為 本サービスの他のユーザーまたはその他の第三者に不利益，損害，不快感を与える行為
					他のユーザーに成りすます行為 作成者が許諾しない本サービス上での宣伝，広告，勧誘，または営業行為 を目的とした行為
					当社のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為 その他，作成者が不適切と判断する行為</td>
			</tr>

			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第5条（本サービスの提供の停止等）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">作成者は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
					本サービスにかかるコンピュータシステムの保守点検または更新を行う場合
					地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合
					コンピュータまたは通信回線等が事故により停止した場合 その他，当社が本サービスの提供が困難と判断した場合
					作成者は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。</td>
			</tr>

			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第6条（利用制限および登録抹消）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">作成者は，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。
					本規約のいずれかの条項に違反した場合 登録事項に故意の虚偽の事実があることが判明した場合
					その他，作成者が本サービスの利用を適当でないと判断した場合
					作成者は，本条に基づき作成者が行った行為によりユーザーに生じた損害について，一切の責任を負いません。</td>
			</tr>

			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第7条（退会）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">ユーザーは，作成者の定める退会手続により，本サービスから退会できるものとします。</td>
			</tr>

			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第8条（保証の否認および免責事項）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">作成者は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。
					作成者は，本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。ただし，本サービスに関する作成者とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合，この免責規定は適用されません。
					作成者は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。
				</td>
			</tr>

			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第9条（サービス内容の変更等）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">作成者は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。</td>
			</tr>

			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第10条（利用規約の変更）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">作成者は，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお，本規約の変更後，本サービスの利用を開始した場合には，当該ユーザーは変更後の規約に同意したものとみなします。</td>
			</tr>

			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第11条（個人情報の取扱い）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">作成者は，本サービスの利用によって取得する個人情報については，「プライバシーポリシー」に従い適切に取り扱うものとします。</td>
			</tr>

			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第12条（通知または連絡）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">ユーザーと作成者との間の通知または連絡は，作成者の定める方法によって行うものとします。また現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い,これらは,発信時にユーザーへ到達したものとみなします。</td>
			</tr>

			<tr>
				<th class="warning" style="background-color: #f7dfa7!important;">第13条（権利義務の譲渡の禁止）</th>
			</tr>
			<tr>
				<td style="background-color: aliceblue;">ユーザーは，当社の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。   以上</td>
			</tr>

		<!--
			<tr>
				<th class="warning">第14条（準拠法・裁判管轄)</th>
			</tr>
			<tr>
				<td>本規約の解釈にあたっては，日本法を準拠法とします。本サービスに関して紛争が生じた場合には，作成者の所在地を管轄する裁判所を専属的合意管轄とします。 以上</td>
			</tr>
		-->

		</thead>
		</table>
</div>
</body>
</html>