<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/js/dialog.js}" defer="defer"></script>
</head>
<body>
	<div th:fragment="todo_itemsDetail_contents">


		<div class="row">
			<div class="col-sm-12">
				<div class="page-header col-sm-3">
					<h1 class="text-center" style="background-color: #ffeafc;">Work編集</h1>
				</div>


				<form method="post" th:action="@{/todo_itemsDetail}"
					th:object="${workaddtoForm}">
					<input type="hidden" name="id" value="${todo_itemsdto.id}"
						th:field="*{id}">
					<table class="table table-bordered table-hover">
						<tr>




							<th class="danger active col-sm-1 text-center"
								style="padding: 14px;">タイトル</th>
							<td class="col-sm-11" style="background-color: #f9efef">
								<div class="form-group">
									<input type="text" class="form-control" th:field="*{item_name}"
										placeholder="50文字以下で入力してください。" /> <span class="text-danger"
										th:if="${#fields.hasErrors('item_name')}"
										th:errors="*{item_name}">item_name error</span>
								</div>
							</td>
						</tr>
						<tr>

							<!-- 担当者 -->
							<th class="danger active text-center" style="padding: 14px;">担当者</th>
							<td style="background-color: #f9efef">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('user_name')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{user_name}"
										placeholder="25文字以下で入力してください。" /> <span class="text-danger"
										th:if="${#fields.hasErrors('user_name')}"
										th:errors="*{user_name}">user_name error</span>
								</div>
							</td>
						</tr>
						<tr>

							<!-- 登録日 -->
							<th class="danger active text-center" style="padding: 14px;">登録日</th>
							<td style="background-color: #f9efef">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('registration_date')} ? 'has-error'">
									<input type="text" class="form-control"
										th:field="*{registration_date}" readonly="readonly"
										placeholder="YYYY-DD-MM hh:mm" /> <span class="text-danger"
										th:if="${#fields.hasErrors('registration_date')}"
										th:errors="*{registration_date}">registration_date
										error</span>
								</div>
							</td>
						</tr>
						<tr>

							<!-- 期限日 -->
							<th class="danger active text-center" style="padding: 14px;">期限日</th>
							<td style="background-color: #f9efef">
								<div class="form-group">
									<input type="text" class="form-control"
										th:field="*{expire_date}"
										placeholder="YYYY-DD-MM hh:mm  例(2000-10-24 13:30)で入力してください。" />
									<span class="text-danger"
										th:if="${#fields.hasErrors('expire_date')}"
										th:errors="*{expire_date}">expire_date error</span>
								</div>
							</td>
						</tr>
						<tr>
						<tr>
					</table>
					<!-- 更新ボタン -->
					<button class="btn btn-primary btn-lg pull-right" type="submit"
						name="update" style="font-size: 22px;">Work内容更新</button>
					<!-- 削除ボタン -->
					<button class="btn btn-danger btn-lg pull-left deleteButton"
						type="submit" name="delete" style="font-size: 22px;">Work内容削除</button>
					<!-- 完了ボタン -->
					<div th:if="${workaddtoForm.finished_date == null}">
						<button class="btn btn-success btn-lg center-block" type="submit"
							name="completed" style="font-size: 22px;">Work作業完了</button>
					</div>
					<div th:if="${workaddtoForm.finished_date != null}">
						<button class="btn btn-success btn-lg center-block" type="submit"
							name="completed" style="font-size: 22px;">完了日を未完了にする</button>
					</div>

				</form>
			</div>
		</div>
		<script>
			$('.deleteButton').click(function() {
				if (confirm('本当に削除しますか？')) {
					/* キャンセルの時の処理 */
					return true;
				}
				return false;
			});
		</script>
	</div>
</body>
</html>