<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<title>ツイート編集</title>
</head>
<body>
	<div th:fragment="workspaceLayout_contents">
		<div class="page-header">

			<table>
				<tr>
					<td class="col-sm-3"><h1 class="text-center"
							style="background-color: #ffeafc;">ツイート編集</h1></td>
				</tr>
				<tr>
					<td class="col-sm-9"></td>
				</tr>
			</table>
		</div>

		<form method="post" th:action="@{/tweetDetail}"
			th:object="${tweetForm}">
			<table
				class="table table-bordered table-hover table-striped sticky_table">

				<tr>
					<th class="danger col-sm-2 text-center sticky-top tweetNameAa"
						align="center">ユーザー名</th>

					<td class=" tweetNameAa" th:text="${tweetUser_id}"></td>
				</tr>
				<tr>
					<th class="danger col-sm-2 text-center sticky-top tweetNameAa"
						align="center">ツイート内容</th>

					<td class=" tweetNameAa" th:text="${tweetContents}"></td>
				</tr>
				<tr>
					<th class="danger col-sm-2 text-center sticky-top tweetNameAa"
						align="center">ツイート日</th>

					<td class=" tweetNameAa"
						th:text="${#dates.format(tweetRegistration_date, 'yyyy/MM/dd HH:mm:ss')}"></td>
				</tr>
			</table>


			<input type="hidden" value="${id}" th:field="*{id}">
			<button class="btn btn-primary deleteButton btn-lg center-block"
				type="submit" name="delete" style="font-size: 20px;">ツイート削除</button>
		</form>

		<script>
			$('.deleteButton').click(function() {
				if (confirm('本当に削除しますか？')) {
					/* キャンセルの時の処理 */
					return true;
				}
				return false;
			});
		</script>
	</div>
</body>
</html>