<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8"></meta>

<!-- アイコン -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- Bootstrap（デザイン性の高い画面を簡単に作成可能※タグのclass属性にある値をセットするだけ）の設定 jQuery Bootstrapの読み込み必要がある-->
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!--　↑cssファイル タイムリーフでファイル読み込み　 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--　↑jQueryのjsファイル タイムリーフでファイル読み込み　 -->
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<!--　↑Bootstrap のjsファイル（jQueryの後に読み込む） タイムリーフでファイル読み込み　 -->
<script src="js/SocialShare.min.js"></script>

<!-- CSSの読み込み コンテンツに埋め込むadminやworkspaceはlayoutに読み込みを書く-->
<link th:href="@{/css/workspace.css}" rel="stylesheet"></link>
<link th:href="@{/css/workspaceLayout.css}" rel="stylesheet"></link>
<link th:href="@{/css/admin.css}" rel="stylesheet"></link>
<link th:href="@{/css/UsersList.css}" rel="stylesheet"></link>
<link th:href="@{/css/tweet.css}" rel="stylesheet"></link>
<link th:href="@{/css/adminNotice.css}" rel="stylesheet"></link>
<link th:href="@{/css/termsOfService.css}" rel="stylesheet"></link>
<link th:href="@{/css/icon.css}" rel="stylesheet"></link>
<link th:href="@{/css/personMemo.css}" rel="stylesheet"></link>
<link th:href="@{/css/privacyPolicy.css}" rel="stylesheet"></link>
<link th:href="@{/css/center.css}" rel="stylesheet"></link>
<link th:href="@{/css/sideBarButton.css}" rel="stylesheet"></link>
<link th:href="@{/css/guide.css}" rel="stylesheet"></link>
<link th:href="@{/css/personUsersNotice.css}" rel="stylesheet"></link>
<link th:href="@{/css/adminPersonNotice.css}" rel="stylesheet"></link>
<link th:href="@{/css/share-btn.css}" rel="stylesheet"></link>
<link th:href="@{/css/one_to_oneMail.css}" rel="stylesheet"></link>
<link th:href="@{/css/notification.css}" rel="stylesheet"></link>
<link th:href="@{/css/one_to_oneMailSending.css}" rel="stylesheet"></link>
<link th:href="@{/css/inquiry.css}" rel="stylesheet"></link>
<link th:href="@{/css/hoverAnnotation.css}" rel="stylesheet"></link>
<link th:href="@{/css/personUsersNoticeSending.css}" rel="stylesheet"></link>
<link th:href="@{/css/client.css}" rel="stylesheet"></link>


<title>WorkSpeace</title>
</head>
<body bgcolor="#10100E">
	<!-- ===== ヘッダー（ナビゲーションバー） ===== -->

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/workspace}" title="アプリ名をクリックするとWorkリストに推移します"><i
					class="fa fa-android fa-spin fa-color fa-size"></i><span
					style="color: #e0ffe9 !important;"> WorkEfficiencyApp-YMJOJO</span></a>


			</div>

			<!--
				<div th:text="${todo_itemsdto.item_name}"></div>
-->
			<!--  sec:authentication="principal.username-->
			<h6 class="col-sm-4" align=center>
				<span class="text-primary aa1 " style="color: #efefef;"
					th:text="${session.sessionGetUser_name} + さん、こんにちは"></span>
			</h6>

			<form method="post" th:action="@{/logout}">
				<button class="btn btn-link pull-right navbar-brand" type="submit"
					style="color: #fff" title="ログアウトし、ログイン画面に推移します">
					<i class="fa fa-sign-out-alt fa-color"></i> ログアウト
				</button>
			</form>
			<form method="get" th:action="@{/inquiry}">
				<button class=" btn btn-link pull-right navbar-brand btn-inquiry"
					type="submit" style="color: #02ff13" title="管理人に問い合わせができます"><i class="fa fa-android fa-spin fa-colorInquiry fa-size"></i>お問い合わせ</button>
			</form>
			<form method="get" th:action="@{/snsShare}">
				<button class=" btn btn-link pull-right navbar-brand snsShare "
					type="submit" style="color: #ff0078" title="SNSに共有できます"><i class="fa fa-android fa-spin fa-colorSnsShare fa-size"></i>SNS共有</button>
			</form>
			<form method="get" th:action="@{/client}">
				<button class=" btn btn-link pull-right navbar-brand client "
					type="submit" style="color: #f4ff02" title="取引先の情報を確認できます"><i class="fa fa-android fa-spin fa-colorClient fa-size"></i>取引先情報</button>
			</form>


		</div>
	</nav>


	<!-- ===== サイドバー　===== -->

	<div background="/css/todo.jpeg" class="container-fluid css">
		<div class="row">
			<div class="col-sm-2 sidebar">
				<ul class="nav nav-pills van-stacked">
					<div sec:authorize="!hasRole('ADMIN')">
						<br>
						<div class="SideBarButton1">
							<li role="presentation"><a th:href="@{'/workspace'}"
								class="cp_btn" title="さまざまなタスク管理が行えます"><i id="icon"
									th:attr="data-num=${workspaceCount}"><i
										class="fa fa-tasks SideBarButton1" ></i></i> Workリスト</a></li>
						</div>

						<br> <br> <br>
						<div class="SideBarButton2">
							<li role="presentation"><a th:href="@{'/usersList'}"
								class="cp_btn" title="全ユーザーを確認できます"><i class="fa fa-address-card "></i> Usersリスト</a></li>
						</div>
						<br> <br> <br>
						<div class="SideBarButton3">
							<li role="presentation"><a th:href="@{'/personMemo'}"
								class="cp_btn" title="自分専用のメモ管理機能です"><i class="fa fa-file "></i> 個人メモ</a></li>
						</div>
						<br> <br> <br>
						<div class="SideBarButton4">
							<li role="presentation" sec:authorize="!hasRole('ADMIN')"><a
								th:href="@{'/one_to_oneMail'}" class="cp_btn" title="各ユーザーとMailができます"><i
									id="iconOne_to_oneMail"
									th:attr="data-num=${one_to_oneMailCount}"><i
										class="fa fa-inbox "></i></i> 個人連絡用Mail</a></li>
						</div>
						<br> <br> <br>
						<div class="SideBarButton5">
							<li role="presentation"><a th:href="@{'/tweet'}"
								class="cp_btn" title="全ユーザーとチャットで話せます"><i id="iconTweet"
									th:attr="data-num=${tweetcount}"><i class="fa fa-comments "></i></i>
									Tweetで情報共有</a></li>
						</div>
						<br> <br> <br>
						<div class="SideBarButton6">
							<li role="presentation"><a th:href="@{'/adminPersonNotice'}"
								class="cp_btn" title="管理人からあなただけへのお知らせが確認できます"><i
									id="iconAdminPersonNotice"
									th:attr="data-num=${adminPersonNoticeCount}"><i
										class="fa fa-envelope "></i></i>管理者からあなたへ</a></li>
						</div>
						<br> <br> <br>
						<div class="SideBarButton7">
							<li role="presentation"><a th:href="@{'/adminNotice'}"
								class="cp_btn" title="管理人から全ユーザーへのお知らせが確認できます"><i
									id="iconAdminNotice" th:attr="data-num=${adminListCount}"><i
										class="fa fa-envelope "></i></i> 管理者から全ユーザ</a></li>
						</div>
						<br> <br> <br>
						<div class="SideBarButton8">
							<li role="presentation"><a th:href="@{'/guide'}"
								class="cp_btn" title="操作ガイドが確認できます"><i class="fa fa-book "></i>
									YMJOJO操作ガイド</a></li>
						</div>
						<br> <br> <br>
						<div class="SideBarButton9">
							<li role="presentation"><a th:href="@{'/termsOfService'}"
								class="cp_btn" title="アプリ利用規約が確認できます"><i class="fa fa-eye "></i>
									アプリ利用規約</a></li>
						</div>
						<br> <br> <br>
						<div class="SideBarButton10">
							<li role="presentation"><a th:href="@{'/privacyPolicy'}"
								class="cp_btn" title="プライバシーポリシーが確認できます"><i
									class="fa fa-eye "></i> プライバシーポリシー</a></li>
						</div>
						<br>



					</div>


					<!-- adminのみのSidebar -->
					<div sec:authorize="hasRole('ADMIN')">
						<br>
						<div class="AdminSideBarButton1">
							<li role="presentation"><a th:href="@{'/workspace'}"
								class="cp_btn" title="さまざまなタスク管理が行えます"><i id="icon"
									th:attr="data-num=${workspaceCount}"><i
										class="fa fa-tasks SideBarButton1"></i></i> Workリスト</a></li>
						</div>

						<br> <br> <br>
						<div class="AdminSideBarButton2">
							<li role="presentation"><a th:href="@{'/usersList'}"
								class="cp_btn" title="全ユーザーを確認できます"><i class="fa fa-address-card "></i> Usersリスト</a></li>
						</div>
						<br> <br> <br>
						<div class="AdminSideBarButton3">
							<li role="presentation"><a th:href="@{'/personMemo'}"
								class="cp_btn" title="自分専用のメモ管理機能です"><i class="fa fa-file "></i> 個人用メモ</a></li>
						</div>
						<br> <br> <br>
						<div class="AdminSideBarButton4">
							<li role="presentation"><a th:href="@{'/tweet'}"
								class="cp_btn" title="全ユーザーとチャットで話せます"><i id="iconTweet"
									th:attr="data-num=${tweetcount}"><i class="fa fa-comments "></i></i>
									Tweetで情報共有</a></li>
						</div>
						<br> <br> <br>
						<!--
					<div class="AdminSideBarButton5">
						<li role="presentation"><a th:href="@{'/adminPersonNotice'}"
							class="cp_btn"><i class="fa fa-envelope "></i>管理者からあなたへ</a></li>
					</div>
					<br>
					<br>
					<br>
					-->
						<div class="AdminSideBarButton5">
							<li role="presentation"><a th:href="@{'/adminNotice'}"
								class="cp_btn" title="管理人から全ユーザーへのお知らせが確認できます"><i id="iconAdminNotice"
									th:attr="data-num=${adminListCount}"><i
										class="fa fa-envelope "></i></i> 管理者から全ユーザ</a></li>
						</div>
						<br> <br> <br>
						<div class="AdminSideBarButton6">
							<li role="presentation"><a th:href="@{'/guide'}"
								class="cp_btn" title="操作ガイドが確認できます"><i class="fa fa-book "></i> YMJOJO操作ガイド</a></li>
						</div>
						<br> <br> <br>
						<div class="AdminSideBarButton7">
							<li role="presentation"><a th:href="@{'/termsOfService'}"
								class="cp_btn" title="アプリ利用規約が確認できます"><i class="fa fa-eye "></i> アプリ利用規約</a></li>
						</div>
						<br> <br> <br>
						<div class="AdminSideBarButton8">
							<li role="presentation"><a th:href="@{'/privacyPolicy'}"
								class="cp_btn" title="プライバシーポリシーが確認できます"><i class="fa fa-eye "></i> プライバシーポリシー</a></li>
						</div>
						<br>


						<div class="AdminSideBarButton9">
							<li role="presentation"><a th:href="@{'/admin'}"
								class="cp_btn " title="管理者専用画面です"><i id="iconAdmin"
									th:attr="data-num=${inquiryListCount}"><i
										class="fa fa-user-secret"></i></i> 管理者専用画面</a></li>
						</div>
					</div>
				</ul>
			</div>
		</div>
	</div>
	<!-- ===== コンテンツ ===== -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 main">
				<!-- th:include テンプレート画面で必要　これがついてるタグ内に別のHTMLが追加　プリプロセッシング使用-->
				<div th:include="__${contents}__"></div>
			</div>
		</div>

		<script>
		$(function(){
			//***********************************// 初期設定
			// ▽注釈を表示させたい要素につけるclass名
			var tipsClassName = ‘help_tips‘// ▽注釈の要素につけるID名
			var popIdName = ‘help_tips_pop‘
			//***********************************
			$(‘.’+tipsClassName).hover(
			function(){
			//overの処理
			//要素の位置を測定
			var offset = $(this).offset();
			var dataText = $(this).attr(‘data-help’);
			//注釈を挿入
			$(this).after(‘<div id=”‘+popIdName+'”>’+dataText+'</div>’)
			//マウスの座標を取得して位置を調整
			$(window).mousemove( function(e){
			var x = e.pageX;
			var y = e.pageY;
			$(‘#’+popIdName).css({left:x+’px’,top:y+’px’});
			})
			},function(){
			//outの処理
			//注釈を削除する
			$(‘#’+popIdName).remove();
			}
			);
			)};
		</script>


		<script>
		$(".snsShare").hover(
			    function(){
			        console.log("hoverしたよ！");
			    },
			    function() {
			        console.log("hoverが外れたよ！");
			    });
	</script>
	</div>
</body>
</html>